
.Contact {
    background-color: #F4971C;
    padding: 4rem 2rem;
}

.Contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 4rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* Información de contacto */
.Contact-info {
    flex: 1;
    min-width: 280px;
    background: #F94E83;
    padding: 1.5rem;
}

.Contact-title {
    font-family: 'DelaGothicOne-Regular';
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #0E1E03;
}

.Contact-list {
    list-style: none;
    padding: 0;
}

.Contact-item {
    margin-bottom: 1rem;
}

.Contact-itemTitle {
    display: block;
    margin-bottom: 0.5rem;
    font-family: 'Outfit-Regular';
    color: #0E1E03;
    font-size: 1.5rem;
}

.Contact-itemText {
    font-family: 'Outfit-Regular';
    font-size: 1.2rem;
    color: #0E1E03;
}

.Contact-link {
    text-decoration: underline;
    color: #0E1E03;
    font-family: 'Outfit-Regular';
    font-size: 1.2rem;
}

.Contact-link:hover {
    color: #FCECEC;
    text-decoration: none;
}

/* Formulario */
.Contact-formContainer {
    flex: 1;
    min-width: 280px;
}

.Contact-formTitle {
    font-family: 'Outfit-Regular';
    font-size: 1.3rem;
    color: #0E1E03;
    padding-bottom: 1rem;
}

/*  formulario adaptado  */
.Form {
    /*height: 500px;
    padding-left: 15em;
    padding-right: 15rem;
    justify-content: center;*/
    width: 100%;
}

.Contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Contact-info,
.Contact-formContainer {
    flex: 1 1 45%;
    min-width: 300px;
}

.Contact-input,
.Contact-textarea {
    width: 100%;
    padding: 0.8rem;
    font-family: 'Outfit-Regular';
    font-size: 1rem;
}

/* area de texto */
.Contact-textarea {
    min-height: 100px;
}

.Form-btn {
    text-decoration: none;
    justify-content: center;
    border: 1rem solid #0E1E03;
    background-color: #FCECEC;
    color: #F94E83;
    padding: 0.5rem 7rem;
    cursor: pointer;
    font-family: 'Outfit-Regular';
    font-size: 1.2rem;
    margin-top: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.Form-btn:hover {
    background-color: #0E1E03;
    color: #FCECEC;
}


@keyframes Contact-type {
    form {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

.Form-title {
    font-family: 'DelaGothicOne-Regular', sans-serif;
    color: #0E1E03;
    font-size: 3rem;
    padding: 1rem;
    align-self: center;
}


.Contact-form input,
.Contact-form textarea {
    display: flex;
    width: 100%;
    padding: 0.5rem;
    border: none;
    margin: 0.3rem auto;
    border-bottom: 1px solid #0E1E03;
    font-family: 'Outfit-Regular';
}


/* MQ */

/* Tablets */
@media (max-width: 768px) {
    .Contact-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .Contact-info,
    .Contact-formContainer {
        width: 100%;
    }

    .Contact-title {
        font-size: 2rem;
    }

    .Contact-itemTitle {
        font-size: 1.2rem;
    }

    .Contact-itemText,
    .Contact-link {
        font-size: 1.2rem;
    }

    .Contact-formTitle {
        font-size: 1.2rem;
    }
}

/* Móvil */
@media (max-width: 480px) {
    .Contact-title {
        font-size: 1.5rem;
    }

    .Contact-title,
    .Contact-formTitle {
        font-size: 1.3rem;
    }

    .Contact-itemTitle {
        font-size: 1rem;
    }

    .Contact-itemText,
    .Contact-link {
        font-size: 1rem;
    }

    .Contact-formTitle {
        font-size: 1rem;
    }

    .Form-btn {
        font-size: 1rem;
    }
}