/*                        PALETA CROMÁTICA                         */

:root {
    --color-principal: #F94E83;
    --color-secundario: #FCECEC;
    --color-fondo: #0E1E03;
    --color-texto: #FCECEC;
    --color-acento: #F4971C;
  }

  /*
PALETA DE COLORES
Fondos y palabras destacadas: #FCECEC
Color contraste 1: #F94E83
Color contraste 2: #0E1E03
Pop y pequeños detalles: #F4971C
*/

/*                           TIPOGRAFÍAS                           */

@font-face {
    font-family: 'PinyonScript-Regular';
    src: url('../fonts/PinyonScript-Regular.ttf') format('truetype');
} 

@font-face {
    font-family: 'DelaGothicOne-Regular';
    src: url('../fonts/DelaGothicOne-Regular.ttf') format('truetype');
}



/*              Texto de corrido con varias variables              */

@font-face {
    font-family: 'Outfit-Regular';
    src: url('../fonts/Outfit-Regular.ttf') format('truetype');
    font-weight: 400; /*Variable REGULAR*/
    font-style: normal;
}

@font-face {
    font-family: 'Outfit-Bold';
    src: url('../fonts/Outfit-Bold.ttf') format('truetype');
    font-weight: 700; /*Variable BOLD*/
    font-style: normal;
}

/*                    Desplazamiento horizontal                   

body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: scroll;
    height: 100vh;
    white-space: nowrap;
}

html {
    scroll-behavior: smooth; /*desplazamiento fluido*/