/*Banner Principal*/
.Banner {
    text-align: center;
    padding: 5rem 1rem;
    background-color: #0E1E03;
}

.Banner-subt {
    font-family: 'PinyonScript-Regular';
    color: #FCECEC;
    font-size: 3rem;
    
}

H1 {
    font-family: 'DelaGothicOne-Regular', sans-serif;
    color: #F94E83;
    font-size: 4rem;
}

.Banner-h2 {
    font-family: 'Outfit-Regular';
    color: #F4971C;
    font-size: 2rem;
    padding-top: 1rem;
}

/*        Sección Ilustraciones        */

.Creaciones {
    background-color: #F94E83;
    text-align: center;
    padding: 40px 20px;
    padding-bottom: 10rem;
}


/*   Título principal de la sección   */
.Creaciones-title {
    color: #FCECEC;
    font-size: 2.8rem;
    font-family: 'DelaGothicOne-Regular';
    margin-bottom: 3rem;
}

/*    Ilustraciones Grid   */
.Creaciones-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 6rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

/* Efecto hover sobre las ilustraciones*/
.Creacion--cards:hover {
        transform: translate(-8px); /*elevación*/
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /*sombra*/

}

/*   Responsive   */
@media (max-width: 768px) {
    .Creaciones-grid {
        flex-direction: column;
        align-items: center;
    }
}

/*  Subtítulos  */
.Creacion-header {
    background-color: #0E1E03;
    color: #FCECEC;
    padding: 8px 0;
    font-family: 'Outfit-Regular';
    font-size: 1.5rem;
}

/*    Link en la imagen    */
.Creacion-link {
    text-decoration: none;
    /*AÑADIR QUE SE EXPANDA O QUE TENGA SOMBRA PARA DARLE PODER AL LINK*/
}

.Creacion-link:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}

/* Contenedor de la imagen */
.Creacion-img-container {
    width: 100%;
}

.Creacion-img {
    width: 100%;
    height: auto;
    display: block; /*HIXO QUE QUE ACHIQUE NO SE QUE PONDA UNO DEBAJO DEL OTRO*/
}

/*------------------------*/


/*    Última parte    */
.Subtitulo {
    color: #0E1E03;
    font-family: 'DelaGothicOne-Regular';
    font-size: 2rem;
    margin-bottom: 3rem;
}


.Texto-trabajos {
    color: #FCECEC;
    font-family: 'Outfit-Regular';
    font-size: 1.4rem;
    margin-bottom: 3rem;
    padding: 2rem;
}

.Trabajos-boton {
    text-decoration: none;
    background-color: #F4971C;
    border: 0.5rem solid #0E1E03;
    color: #0E1E03;
    padding: 0.5rem 7rem;
    cursor: pointer;
    font-family: 'Outfit-Regular';
    font-size: 1.5rem;
    margin-top: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

/* Efecto hover en botón */
.Trabajos-boton:hover {
    background-color: #FCECEC;
    color: #F94E83;
}



/*Slider proyectos
.Projects {
    background-color: #FCECEC;
    height: fit-content;
    overflow: hidden;
    position: relative;
    padding-bottom: 5rem;
}

.Projects-title {
    font-family: 'DelaGothicOne-Regular', sans-serif;
    color: #0E1E03;
    font-size: 3rem;
    padding: 2rem;
    align-self: center;
}

.Slider {
    display: flex;
    transition: transform 0.5s ease;
}


.img {
    height: 400px;
    width: auto;
}

*/

















