/*Banner Principal*/
.Banner {
    text-align: center;
    padding: 5rem 1rem;
    background-color: #0E1E03;
}

.Banner-subt {
    font-family: 'PinyonScript-Regular';
    color: #FCECEC;
    font-size: 3rem;
    
}

H1 {
    font-family: 'DelaGothicOne-Regular', sans-serif;
    color: #F94E83;
    font-size: 4rem;
}

.Banner-h2 {
    font-family: 'Outfit-Regular';
    color: #F4971C;
    font-size: 2rem;
    padding-top: 1rem;
}

/*Sección About me*/
.About {
    flex-wrap: wrap;
    background-color: #F94E83;
    padding-bottom: 5rem;
    padding-top: 3rem;
}

.About-type {
    font-size: 5rem;
    font-family: 'PinyonScript-Regular';
    color: #FCECEC;
    animation: marquee 10s linear infinite;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes About-type {
    form {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}


.About-txt {
    display: block;
    width: 20%;
}

.About-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5rem;
    padding-left: 5rem;
}


.About-title {
    font-family: 'DelaGothicOne-Regular', sans-serif;
    color: #FCECEC;
    font-size: 2rem;
}

.About-p {
    font-family: 'Outfit-Regular';
    color: #FCECEC;
    font-size: 1.5rem;
   
}

.About-img {
    max-width: 400px;
    height: auto;
}


/*Slider proyectos*/
.Projects {
    background-color: #FCECEC;
    height: fit-content;
    overflow: hidden;
    position: relative;
    padding-bottom: 5rem;
}

.Projects-title {
    font-family: 'DelaGothicOne-Regular', sans-serif;
    color: #0E1E03;
    font-size: 3rem;
    padding: 2rem;
    align-self: center;
}

.Slider {
    display: flex;
    transition: transform 0.5s ease;
}


.img {
    height: 400px;
    width: auto;
}


/*Formulario*/
.Form {
    background-color: #F4971C;
    height: 500px;
    padding-left: 15em;
    padding-right: 15rem;
    justify-content: center;
}

.Contact-type {
    font-size: 5rem;
    display: block;
    font-family: 'PinyonScript-Regular';
    color: #FCECEC;
    animation: marquee 10s linear infinite;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

@keyframes Contact-type {
    form {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

.Form-title {
    font-family: 'DelaGothicOne-Regular', sans-serif;
    color: #0E1E03;
    font-size: 3rem;
    padding: 1rem;
    align-self: center;
}


.Contact-form input,
.Contact-form textarea {
    display: flex;
    width: 100%;
    padding: 0.5rem;
    border: none;
    margin: 1rem auto;
    border-bottom: 1px solid #0E1E03;
    font-family: 'Outfit-Regular';
}



















