/*Banner Principal*/
.Banner {
    text-align: center;
    padding: 5rem 1rem;
    background-color: #0E1E03;
}

.Banner-subt {
    font-family: 'PinyonScript-Regular';
    color: #FCECEC;
    font-size: 3rem;

}

h1 {
    font-family: 'DelaGothicOne-Regular', sans-serif;
    color: #F94E83;
    font-size: 4rem;
}

.Banner-h2 {
    font-family: 'Outfit-Regular';
    color: #F4971C;
    font-size: 2rem;
    padding-top: 1rem;
}

/*        Sección Ilustraciones        */

.Creaciones {
    background-color: #F94E83;
    text-align: center;/*
    padding: 40px 20px;
    padding-bottom: 10rem;*/
}


/*   Título principal de la sección   */
.Creaciones-title {
    color: #FCECEC;
    font-size: 2rem;
    font-family: 'DelaGothicOne-Regular';
    letter-spacing: 0.1rem;
    margin-bottom: 3rem;
    padding-top: 1rem;
}

/*    Ilustraciones Grid   */
.Creaciones-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 6rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

/* Efecto hover sobre las ilustraciones | aumento de tamaño*/
.Creacion--cards:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}

/*   Responsive grid  */
@media (max-width: 768px) {
    .Creaciones-grid {
        flex-direction: column;
        align-items: center;
    }
}

/*  Subtítulos  */
.Creacion-header {
    background-color: #0E1E03;
    color: #FCECEC;
    padding: 8px 0;
    font-family: 'Outfit-Regular';
    font-size: 1.5rem;
}


/*    Link en la imagen    */
.Creacion-link {
    text-decoration: none;
}

.Creacion-link:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}

/* Contenedor de la imagen */
.Creacion-img-container {
    width: 100%;
}

.Creacion-img {
    width: 100%;
    height: auto;
    display: block;
    }

/*------------------------*/


/*    Última parte    */
.Subtitulo {
    color: #0E1E03;
    font-family: 'DelaGothicOne-Regular';
    font-size: 1.7rem;
}


.Texto-trabajos {
    color: #FCECEC;
    font-family: 'Outfit-Regular';
    font-size: 1.2rem;
    margin-bottom: 3rem;
    padding: 1rem 7rem 1rem 7rem;
}

.Trabajos-boton {
    text-decoration: none;
    background-color: #F4971C;
    border: 0.5rem solid #0E1E03;
    color: #0E1E03;
    padding: 0.5rem 7rem;
    cursor: pointer;
    font-family: 'Outfit-Regular';
    font-size: 1.5rem;
    margin-top: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

/* Efecto hover en botón */
.Trabajos-boton:hover {
    background-color: #FCECEC;
    color: #F94E83;
}

.Link-contacto {
    padding: 1rem 2rem 6rem 2rem;
    background-color: #F94E83;
}

.Link-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.Link-textContainer {
    flex: 1 1 400px;
    color: #0E1E03;
    text-align: center;
}

/* imagen sección final */
.Link-imgContainer {
    flex: 1 1 300px;
    text-align: center;
}

/* imagen adaptativa */
.Link-img {
    max-width: 100%;
    height: auto;
}


/* Responsive */
/*   Tablet   */
@media (max-width: 1024px) {
    .Creaciones-title {
        padding-top: 5rem;
        padding-bottom: 2rem;
    }

    .Texto-trabajos {
        padding: 1rem 4rem;
    }

    .Trabajos-boton {
        padding: 0.5rem 4rem;
    }
}

/*   Móvil   */
@media (max-width: 768px) {

    .Texto-trabajos {
        padding: 1rem 2rem;
    }

    .Trabajos-boton {
        padding: 0.5rem 2rem;
    }

    .Banner-subt {
        font-size: 2.2rem;
    }

    .h1 {
        font-size: 2rem;
    }

    .Banner-h2 {
        font-size: 1.5rem;
    }

    .Subtitulo {
        font-size: 1.5rem;
    }

    .Texto-trabajos {
        font-size: 1rem;
        padding: 1rem 2rem;
    }

    .Trabajos-boton {
        padding: 0.5rem 2rem;
        font-size: 1.2rem;
    }

    .Link-container {
        flex-direction: column;
        align-items: center;
    }

    .Link-textContainer {
        text-align: center;
        padding: 0 1rem;
    }
}